/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
/* CSS RESET */




/* + Font comune per tutta la pagina */
html{
    font-family: "Poppins", sans-serif;
}



li{
    list-style-type: none;
    padding-top: 1rem;
}







/* todo BOTTONI ------------------------------------------ */

button{   
    font-size: 16px;
    font-family: "Poppins", sans-serif;

    color: white;
    background-color: grey;
    border: none;
    

    /* dimensione standard di tutti i bottoni */
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 18px;
    padding-right: 18px;
}

.blu{
    background-color: #0066b8;
}

.large{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.secondary-button{
    border: gray 2px solid;
    background-color: white;
    margin: .9rem;
    color: black;
}


.fixed-position{
    margin: 1.8rem;
}


#ask-for-a-price{
    display: flex;
}

.no-left-margin{
    margin-left: 0;
}
/* todo BOTTONI FINE --------------------------------------- */






/* -header ----------------------------------------------------------------------------------------------------- */
/* *navbar ----------------------------------------------- */
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;

    width: 100%;                        /* *dimensioni della navbar */
    height: auto;                          /* *<---------------- */
    background-color: white;       /* todo cambiare il colore il bianco, una volta finito */
    padding-left: 0;
    padding-right: 0;
}


/* dimensione del logo nella navbar */
#main-logo {
    width: auto;
    height: 32px;

    align-self: center;
}

.link-utili{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: baseline;

    gap: 2.8rem;
    margin: 24px;
}
/* *navbar ------------------------------------------------ */
/* -header ------------------------------------------FINE------------------------------------------------------- */



/* -main -------------------------------------------------------------------------------------------------------- */


#jumbotron{
    background-color: #bedcff;
}



.main-title{
    font-size: 5rem;
    max-width: 1250px;
    margin: auto;

    display: flex;
}



.jumbo-info {
    display: flex;
    /* align-content: center; */
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    padding-left: 20%;
    padding-right: 20%;
}



#jumbo-image{
    max-width: 65%;
    padding-top: 3rem;
}



/* + per impostare un elemento dentro una flexbox al centro del flex container! */
.flex-centered{
    display: flex;
    justify-content: center;
    align-items: center;

    /* extra */
    justify-content: space-evenly;
}



/* !!!!! TESTING THIS !!!!! */
.side{
    display: flex;




    /* testing this */
    border: black 1px solid;

    width: 80rem;
    height: 5rem;
    /* testing this */
}





.title2{
    font-size: 34px;
    margin: 1rem;
    margin-left: 0;
    margin-bottom: 2rem;
}

.title-small{
    font-size: 15px;
}



.plans{
    display: flex;
    gap: 1rem;
}

section.subscription-plans > input {
    margin: auto;
}



.Trova-Partner{
    width: 100%;
    margin: auto;
    margin-bottom: 7rem;


    display: flex;
    max-width: 1250px;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}


.desc-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    width: 25%;
}



#partnerphoto {
    width: 40%;
    margin-right: 3rem;

    padding-top: 7rem;
}


.centered-in-a-box{
    display: flex;
    margin: auto;
}





/* + Category PLAN---------------------------------------------------------- */
.category {
    display: flex;
    border: 1px grey solid;
    max-width: 18rem;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.category-user{
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.category-box {
    border: 1px grey solid;
    display: flex;
    max-width: 18rem;
    justify-content: center;
    align-items: flex-start;
    gap: .5rem;
    flex-direction: column;

    max-height: 1200px;   /* ! controllare questa funzione se è da cambiare una volta aggiunti tutti e 3 gli elementi */
}


.category-title-box{
    padding: 2rem;
}


.category-pro {
    display: flex;
    padding: 2rem;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    font-size: 14px;
}


.sezione-abbonamenti {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    margin-top: 3rem;
}
/* + Category PLAN-----------------------FINE--------------------------------- */








.choose-box{
    display: flex;
    max-width: 670px;
    justify-content: center;
    margin-left: 24%;
}

.choose-plan{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 675px;


    padding-top: 4rem;
}




/* todo new category horizontal------------------------------------------------- */
.category-horizontal {
    display: flex;
    border: gray 1px solid;
    max-width: 50%;
    margin: auto;
    margin-top: 3rem;
    justify-content: center;
    align-items: center;
}



.category-box-horizontal {
    display: flex;
    max-width: 50%;
    margin: auto;
    border: gray 1px solid;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}


.category-user-horizontal{
    margin-left: 2rem;
    margin-top: 1rem;
}


.no-bottom{
    border-bottom: none;
}

.no-top{
    border-top: none;
}


.row-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.border-space{
    padding-left: 2rem;
    max-width: 620px;
    padding-bottom: 2rem;
}
/* -main FINE---------------------------------------------------------------------------------------------------- */





/* -footer ------------------------------------------------------------------------------------------------------ */
/* *navrbar footer ----------------------------------------------- */
/* si usa in combinazione con navbar per creare quella presenta nel footer */
.bottom{
    color: white;
    background-color: black;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    /* spazio ai lati del footer */
    padding: 7rem;
}

.title{
    font-size: 20px;
    margin: 1rem;
    margin-left: 0;
    margin-bottom: 2rem;
}

.list{
    display: flex;
    gap: 15px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;

    color: grey;
    font-size: 14px;
}


/* *navbar footer ------------------------------------------------ */
/* -footer -------------------------------------------FINE-------------------------------------------------------- */





.flex-container-info {
    display: flex;
    flex-wrap: wrap;
    /* max-width: 111%; */
    align-items: center;

    gap: 4rem;
    margin-left: 21%;
    margin-right: 12%;
}

.flex-item-info {
    width: 25.33%;
    padding: 10px;
    box-sizing: border-box; /* così padding non aumenta la larghezza degli elementi */
}

.flex-item-info img {
    width: 100%;
}

.flex-item h3 {
    margin-top: 10px;
}

.flex-item-info p {
    font-size: 14px;
    margin-top: 1.5rem;
}


.margin-left {
    margin-left: 24rem;
    margin-bottom: 3rem;
}






.container-center {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-start-line{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 43rem;
    font-size: 35px;
}




/* !--------------------------QUADRATO------------------------------------------------ */
.cube {
    display: flex;
}


.left, .middle, .right {
    flex: 1;
    padding: 20px;
}

.sub-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.sub-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ddd; /* Colore di sfondo di default */
    position: relative; /* Posizione relativa per posizionare le immagini */
}

.sub-item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Ridimensiona le immagini senza deformarle */
    position: absolute; /* Posizionamento assoluto per centrare */
    top: 50%; /* Centra verticalmente */
    left: 50%; /* Centra orizzontalmente */
    transform: translate(-50%, -50%); /* Sposta l'immagine al centro */
}

.green-bg, .dark-red-bg {
    position: relative; /* Perché l'immagine abbia una posizione relativa */
    padding-bottom: calc(100% - 20px); /* Altezza del cubo - 20px per il padding */
}

.middle {
    text-align: center;
}

.middle img {
    max-width: 100px;
}

.middle hr {
    width: 50%;
    margin: 10px auto;
}


.size-cube-image{
    width: 60%;
}




/* +COLORI DEI CUBI */

.bg-green{
    background-color: rgb(149, 236, 149);
    border: rgb(190, 236, 190) 4px solid;
}